body {
  margin: auto;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.61;
  max-width: 45em;
}

a {
  color: #12C;
  /* remove default tap highlight color that WebKit adds for us */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /*-webkit-tap-highlight-color: transparent; !* For some Androids *!*/
  text-decoration: none;
}

a:visited {
  color: #704a9c;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  color: #c00;
  outline: 0;
}

strong {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  float: left;
}

header {
  padding: 0 0.5em;
  color: #C90B0B;
  font-size:1.5em;
  font-weight: bold;
}

header img {
  border-radius: 40px;
}

header p {
  padding-left: 4em;
}

header span {
  font-size: 0.8em;
  font-weight: normal;
}

.hero {
  padding: 2em;
  background-color: #f8f8f8;
  font-size:1.2em;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.content {
  padding: 2.4em;
}

li {
  list-style-type: none;
  margin-bottom: 1.5em;
  overflow: hidden;
}

li img {
  padding-right: 1em;
}

li p {
  font-style: italic;
  margin-bottom: 0;
}

footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}

footer span {
  float: right;
  font-style: italic;
}

/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  header p {
    padding-left: 4.5em;
  }
}
